<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12"
  >
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 lg:gap-12">
      <div class="text-center lg:text-left">
        <div>
          <p
            class="text-3xl font-normal tracking-tight text-black font-display"
          >
            Aquí vas a encontrar respuesta a la mayoría de tus preguntas sobre las LLC
          </p>
          <p class="text-base mt-4 text-zinc-500">
            
          </p>
        </div>
      </div>
      <div
        x-data="{
  activeAccordion: '',
  setActiveAccordion(id) {
  this.activeAccordion = (this.activeAccordion == id) ? '' : id
  }
  }"
        class="relative w-full mx-auto font-normal lg:col-span-2"
      >
        <div
          x-data="{ id: $id('accordion') }"
          :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }"
          class="cursor-pointer group text-black"
        >
          <button
            @click="setActiveAccordion(id)"
            class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
          >
            <span>¿Qué es una LLC?
            </span>
            <svg
              class="w-5 h-5 duration-300 ease-out text-accent-500 -rotate-[45deg]"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v12m6-6H6"></path></svg
            >
          </button>
          <div x-show="activeAccordion==id" x-collapse="">
            <div class="p-4 pt-2 text-zinc-500">
              Una LLC es un tipo de empresa en Estados Unidos que permite hacer negocios en todo el mundo, protegiendo legalmente a sus miembros frente a demandas o responsabilidades legales, pero fiscalmente, sus accionistas y la empresa son considerados la misma entidad.
En otras palabras, legalmente la LLC es un ente diferente a sus dueños; sin embargo, desde el punto de vista fiscal, son tratados como la misma persona. La LLC realiza contratos y operaciones, declara ingresos en Estados Unidos, pero los impuestos sobre los beneficios recibidos los pagan sus accionistas.
Esto hace que una LLC cuyos dueños sean personas extranjeras que no viven en Estados Unidos y no tienen propiedades o empleados en el país, no pague impuestos en Estados Unidos por la operación de la empresa.
Además, al ser estadounidense, tu LLC puede acceder a productos y servicios estadounidenses, como abrir PayPal, Stripe o Square, tener Zelle, cuentas multi-moneda, importar a USA y vender productos, operar en dólares, optar a créditos, y más.

            </div>
          </div>
        </div>
        <div
          x-data="{ id: $id('accordion') }"
          :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }"
          class="cursor-pointer group text-zinc-600 hover:text-accent-500"
        >
          <button
            @click="setActiveAccordion(id)"
            class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
          >
            <span
              >¿Quién tiene la capacidad para establecer una LLC en Estados Unidos?</span
            >
            <svg
              class="w-5 h-5 duration-300 ease-out text-accent-500"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v12m6-6H6"></path></svg
            >
          </button>
          <div
            x-show="activeAccordion==id"
            x-collapse=""
            style="display: none;"
          >
            <div class="p-4 pt-2 text-zinc-500">
              Cualquier individuo, independientemente de su nacionalidad, puede fundar una LLC, a menos que figure en listas gubernamentales que prohíban la realización de negocios en Estados Unidos.
            </div>
          </div>
        </div>
        <div
          x-data="{ id: $id('accordion') }"
          :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }"
          class="cursor-pointer group text-zinc-600 hover:text-accent-500"
        >
          <button
            @click="setActiveAccordion(id)"
            class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
          >
            <span
              >¿Cuáles son los requisitos para registrar una LLC?</span
            >
            <svg
              class="w-5 h-5 duration-300 ease-out text-accent-500"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v12m6-6H6"></path></svg
            >
          </button>
          <div
            x-show="activeAccordion==id"
            x-collapse=""
            style="display: none;"
          >
            <div class="p-4 pt-2 text-zinc-500">
              Para registrar una LLC, el único documento válido necesario es el pasaporte, el cual debe estar vigente. Al abrir una cuenta bancaria, es posible que el banco requiera documentación adicional para respaldar tu solicitud, como licencia de conducir u otra forma de identificación, comprobante de domicilio (factura a tu nombre, extracto bancario, etc.), y una foto o video selfie pronunciando una frase, entre otros posibles requisitos. Es importante tener en cuenta que para todos los trámites es necesario ser mayor de 18 años.
            </div>
          </div>
        </div>
        <div
          x-data="{ id: $id('accordion') }"
          :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }"
          class="cursor-pointer group text-zinc-600 hover:text-accent-500"
        >
          <button
            @click="setActiveAccordion(id)"
            class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
          >
            <span
              >¿Cómo abrir una LLC?</span
            >
            <svg
              class="w-5 h-5 duration-300 ease-out text-accent-500"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v12m6-6H6"></path></svg
            >
          </button>
          <div
            x-show="activeAccordion==id"
            x-collapse=""
            style="display: none;"
          >
            <div class="p-4 pt-2 text-zinc-500">
              Las LLC se pueden abrir en línea desde cualquier parte del mundo a través de agentes autorizados. En Estados Unidos, el proceso de apertura se realiza con cada estado, y cada uno tiene sus propias normas, leyes e impuestos locales.
Los dos estados más populares para abrir una LLC desde el extranjero son Delaware y Wyoming, ya que ambos carecen de impuestos locales y de sales tax. Además, presentan requisitos mínimos para la apertura y el reporte.

            </div>
          </div>
        </div>
        <div
          x-data="{ id: $id('accordion') }"
          :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }"
          class="cursor-pointer group text-zinc-600 hover:text-accent-500"
        >
          <button
            @click="setActiveAccordion(id)"
            class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
          >
            <span
              >¿Qué documentos recibiré al abrir una LLC?</span
            >
            <svg
              class="w-5 h-5 duration-300 ease-out text-accent-500"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v12m6-6H6"></path></svg
            >
          </button>
          <div
            x-show="activeAccordion==id"
            x-collapse=""
            style="display: none;"
          >
            <div class="p-4 pt-2 text-zinc-500">
              Al abrir una LLC, obtendrás varios documentos cruciales, proporcionados por tu agente registrado. Estos incluyen:
Documento de Constitución, también denominado "Articles of Incorporation". Se entrega el mismo día en que la entidad gubernamental del estado seleccionado genera el archivo.
Número Fiscal de la Empresa ante la Autoridad Fiscal de Estados Unidos: Conocido como "Employer Identification Number" (EIN). Este proceso de tramitación se realiza después de la constitución y generalmente lleva de 10 a 20 días.
            </div>
          </div>
        </div>
        <div
          x-data="{ id: $id('accordion') }"
          :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }"
          class="cursor-pointer group text-zinc-600 hover:text-accent-500"
        >
          <button
            @click="setActiveAccordion(id)"
            class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
          >
            <span>¿En qué estado me conviene crear mi LLC?</span>
            <svg
              class="w-5 h-5 duration-300 ease-out text-accent-500"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v12m6-6H6"></path></svg
            >
          </button>
          <div
            x-show="activeAccordion==id"
            x-collapse=""
            style="display: none;"
          >
            <div class="p-4 pt-2 text-zinc-500">
              Al decidir en qué estado establecer tu LLC en Estados Unidos, varios factores deben ser considerados. Delaware, Wyoming, Nevada y New Mexico son opciones atractivas para empresas internacionales. Delaware destaca por su privacidad, aunque tiene un fee anual elevado de $300. Wyoming ofrece impuestos bajos, fuerte privacidad y un fee anual económico de $60. Nevada grava solo las ventas internas, pero tiene costos de mantenimiento más altos. New Mexico presenta tasas de presentación bajas y no requiere reporte ni fee anual. Nosotros recomendamos Wyoming.
            </div>
          </div>
        </div>
        <div
          x-data="{ id: $id('accordion') }"
          :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }"
          class="cursor-pointer group text-zinc-600 hover:text-accent-500"
        >
          <button
            @click="setActiveAccordion(id)"
            class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
          >
            <span
              >¿Cuántos socios puede tener una LLC?</span
            >
            <svg
              class="w-5 h-5 duration-300 ease-out text-accent-500"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v12m6-6H6"></path></svg
            >
          </button>
          <div
            x-show="activeAccordion==id"
            x-collapse=""
            style="display: none;"
          >
            <div class="p-4 pt-2 text-zinc-500">
              Una Limited Liability Company (LLC) puede tener uno o más socios al abrirse. Existen dos categorías principales:
Single-Member LLC: Esta categoría se refiere a aquellas LLCs que tienen un solo miembro o propietario.
Multi-Member LLC o Partnership: En este caso, la LLC tiene dos o más miembros. Se utiliza el término "multi-member" o "partnership" para describir las LLCs con múltiples propietarios.
En resumen, una LLC puede adaptarse a diferentes estructuras, permitiendo flexibilidad en la cantidad de socios que pueden participar en el negocio.

            </div>
          </div>
        </div>
        <div
          x-data="{ id: $id('accordion') }"
          :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }"
          class="cursor-pointer group text-zinc-600 hover:text-accent-500"
        >
          <button
            @click="setActiveAccordion(id)"
            class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
          >
            <span>¿Qué requisitos anuales debe cumplir mi LLC en Estados Unidos?</span>
            <svg
              class="w-5 h-5 duration-300 ease-out text-accent-500"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v12m6-6H6"></path></svg
            >
          </button>
          <div
            x-show="activeAccordion==id"
            x-collapse=""
            style="display: none;"
          >
            <div class="p-4 pt-2 text-zinc-500">
              Para mantener en regla tu Limited Liability Company (LLC) en Estados Unidos, debes cumplir con ciertos requisitos anuales. A continuación, se detallan los principales:
Impuesto Estatal: En algunos estados, como Delaware, se requiere el pago del Franchise Tax, mientras que en Wyoming, se denomina Annual Report. Es esencial conocer y cumplir con los impuestos estatales correspondientes a la jurisdicción de tu LLC.
Declaraciones Informativas ante el IRS: La Oficina de Impuestos de Estados Unidos, el Internal Revenue Service (IRS), exige declaraciones informativas anuales para las LLCs. Para las single-member LLCs, se presenta la declaración 5472, detallando las transacciones entre la LLC, su propietario y partes relacionadas. En el caso de multi-member LLCs, la declaración 1065 informa sobre ingresos y gastos, distribuyendo las ganancias equitativamente entre los miembros según su participación accionaria. Además, se especifica en qué país se pagarán los impuestos sobre las ganancias obtenidas en la empresa estadounidense.
Es recomendable considerar la contratación de servicios especializados a través de plataformas como Fiverr para facilitar y garantizar el cumplimiento de estas obligaciones fiscales.

            </div>
          </div>
        </div>
        <div
          x-data="{ id: $id('accordion') }"
          :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }"
          class="cursor-pointer group text-zinc-600 hover:text-accent-500"
        >
          <button
            @click="setActiveAccordion(id)"
            class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
          >
            <span>¿Dónde se pagan los impuestos de la LLC?</span>
            <svg
              class="w-5 h-5 duration-300 ease-out text-accent-500"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v12m6-6H6"></path></svg
            >
          </button>
          <div
            x-show="activeAccordion==id"
            x-collapse=""
            style="display: none;"
          >
            <div class="p-4 pt-2 text-zinc-500">
              Los impuestos de tu Limited Liability Company (LLC) se abonan en el país de residencia fiscal de sus accionistas. Este proceso generalmente implica informar anualmente sobre los beneficios o pérdidas generadas. Es crucial consultar con un contador para entender cómo se deben declarar las "entidades transparentes" extranjeras en el país correspondiente.
La pregunta sobre si la LLC debería pagar impuestos en Estados Unidos tiene una respuesta condicionada. La situación tributaria dependerá de diversos factores, como el estado de registro de la empresa, la naturaleza de su actividad económica, el país donde opera y si tiene presencia física en Estados Unidos. 
Sin embargo, en la mayoría de los casos, si tu LLC cumple con ciertas condiciones, es probable que no deba pagar impuestos en Estados Unidos. Estas condiciones incluyen la ausencia de presencia física en EE. UU. (sin oficinas ni empleados), no ser propiedad de un residente fiscal estadounidense y que el propietario no resida en Estados Unidos ni posea un Número de Seguro Social (SSN).
            </div>
          </div>
        </div>
        <div
          x-data="{ id: $id('accordion') }"
          :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }"
          class="cursor-pointer group text-zinc-600 hover:text-accent-500"
        >
          <button
            @click="setActiveAccordion(id)"
            class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
          >
            <span>Que costos anuales de mantenimiento voy a tener?</span>
            <svg
              class="w-5 h-5 duration-300 ease-out text-accent-500"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v12m6-6H6"></path></svg
            >
          </button>
          <div
            x-show="activeAccordion==id"
            x-collapse=""
            style="display: none;"
          >
            <div class="p-4 pt-2 text-zinc-500">
              Vas a tener que abonar los siguientes conceptos: Registered Agent (125 USD), State Fee (Wyoming por ejemplo cobra 60 USD). Adicionalmente probablemente tengas que contratar un especialista para que arme las presentaciones de los impuestos a enviar a IRS. Suele haber agentes que realizan esto en Fiver que cobran entre 50 y 300 USD dependiento el grado de actividad de la LLC y tipo societario.
            </div>
          </div>
        </div>
        <div
          x-data="{ id: $id('accordion') }"
          :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }"
          class="cursor-pointer group text-zinc-600 hover:text-accent-500"
        >
          <button
            @click="setActiveAccordion(id)"
            class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
          >
            <span>¿Cuanto tiempo demora entre que envio la documentación y recibo los documentos?</span>
            <svg
              class="w-5 h-5 duration-300 ease-out text-accent-500"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v12m6-6H6"></path></svg
            >
          </button>
          <div
            x-show="activeAccordion==id"
            x-collapse=""
            style="display: none;"
          >
            <div class="p-4 pt-2 text-zinc-500">
              El tiempo promedio ronda entre los 18 y 30 días debido a la solicitud del EIN. Los documentos de la LLC suelen estar disponibles en 5 días habiles aproximadamente.

            </div>
          </div>
        </div>
        <!-- <div
          x-data="{ id: $id('accordion') }"
          :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }"
          class="cursor-pointer group text-zinc-600 hover:text-accent-500"
        >
          <button
            @click="setActiveAccordion(id)"
            class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
          >
            <span>Question</span>
            <svg
              class="w-5 h-5 duration-300 ease-out text-accent-500"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v12m6-6H6"></path></svg
            >
          </button>
          <div
            x-show="activeAccordion==id"
            x-collapse=""
            style="display: none;"
          >
            <div class="p-4 pt-2 text-zinc-500">
              Answer

            </div>
          </div>
        </div>
        <div
          x-data="{ id: $id('accordion') }"
          :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }"
          class="cursor-pointer group text-zinc-600 hover:text-accent-500"
        >
          <button
            @click="setActiveAccordion(id)"
            class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
          >
            <span>Question</span>
            <svg
              class="w-5 h-5 duration-300 ease-out text-accent-500"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v12m6-6H6"></path></svg
            >
          </button>
          <div
            x-show="activeAccordion==id"
            x-collapse=""
            style="display: none;"
          >
            <div class="p-4 pt-2 text-zinc-500">
              Answer

            </div>
          </div>
        </div>
        <div
          x-data="{ id: $id('accordion') }"
          :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }"
          class="cursor-pointer group text-zinc-600 hover:text-accent-500"
        >
          <button
            @click="setActiveAccordion(id)"
            class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
          >
            <span>Question</span>
            <svg
              class="w-5 h-5 duration-300 ease-out text-accent-500"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v12m6-6H6"></path></svg
            >
          </button>
          <div
            x-show="activeAccordion==id"
            x-collapse=""
            style="display: none;"
          >
            <div class="p-4 pt-2 text-zinc-500">
              Answer

            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div> -->
</section>
